# Mongo DB connection
MONGO_URI=<mongodb_uri>
MONGO_DB=<db_name>

# SQL DB connection
SQL_HOST=<host_address>
SQL_PORT=<port_number>
SQL_USER=<username>
SQL_PW=<pw>
SQL_DB=<db_name>

# Server
SERVER_HOST=<server_host>
SERVER_PORT=<server_port>

# Web dashboard domain
WEB_DOMAIN=<web_dashboard_domain>

# API endpoints
AUTH_API_ENDPOINT=<auth_api_endpoint>
