@import "@coreui/coreui/scss/coreui";

@import "variables";
@import "theme";

.accordion-button {
  --cui-accordion-btn-focus-box-shadow: none;
}

.btn {
  --cui-btn-focus-box-shadow: none;
}

.btn-close {
  --cui-btn-close-focus-shadow: none;
}
