@import "@coreui/coreui/scss/coreui";

@import "variables";

@import "layout";

.form-control:focus,
.form-select:focus {
  border-color: var(--cui-gray-200);
  outline: none;
  box-shadow: none;
}

.accordion-button:focus {
  outline: none;
  box-shadow: none;
}