@import "@coreui/coreui/scss/coreui";

@import "variables";

@import "theme";

.form-control:focus,
.form-select:focus {
  border-color: var(--cui-gray-200);
  outline: none;
  box-shadow: none;
}

.accordion-button:focus {
  outline: none;
  box-shadow: none;
}

// (CoreUI Bug) Undone
// .sidebar-narrow-unfoldable:not(.sidebar-end) ~ * {
//   --cui-sidebar-occupy-start: 4rem !important;
// }
.sidebar {
  &.hide:not(.sidebar-end)~* {
    --cui-sidebar-occupy-start: 0 !important;
  }

  @media (max-width: 991.98px) {
    &:not(.sidebar-end)~* {
      --cui-sidebar-occupy-start: 0 !important;
    }
  }
}

// :root {
//   --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(180deg) brightness(0.5);
// }

// @media (prefers-color-scheme: dark) {
//   .map-tiles {
//     filter: var(--map-tiles-filter, none);
//   }
// }

// .map-tiles.dark {
//   filter: var(--map-tiles-filter, none);
// }