@import "@coreui/coreui/scss/coreui";

@import "variables";

@import "theme";

.form-control:focus,
.form-select:focus {
  border-color: var(--cui-gray-200);
  outline: none;
  box-shadow: none;
}

.accordion-button:focus {
  outline: none;
  box-shadow: none;
}

:root {
  --background-light: #fff;
  --background-dark: #333;
  --text-light: #333;
  --text-dark: #fff;
}

.header.light {
  background-color: var(--background-light);
  color: var(--text-light);
}

.header.dark {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

.custom-row-spacing {
  margin-bottom: 72px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none; /* Adjust as per your needs */
}

.nav-content {
  display: flex;
  align-items: center;
}

.nav-icon {
  margin-right: 10px; /* Adjust spacing between icon and text */
}

.nav-name {
  font-size: 14px; /* Adjust font size */
}

.centered-nav-item {
  .nav-content {
    display: flex;
    align-items: center;
    padding-left: 20px; /* Adjust this value to move the text to the right */
    text-align: left;

    .nav-icon {
      margin-right: 5px; /* Optional: Space between the icon and the text */
    }

    .nav-name {
      margin-left: 10px; /* Further adjust the text position relative to the icon */
    }
  }
}

.sidebar-brand-full, .sidebar-brand-narrow {
  display: block;
  margin: 0 auto;           /* Center logos horizontally */
}

.bg-theme {
  background-color: var(--cui-tertiary-bg);
}
