GENERATE_SOURCEMAP=false
NGINX_PORT=80

REACT_APP_SITE_API_ENDPOINT=<host and port>/api/sites
REACT_APP_SITE_ANALYTICS_API_ENDPOINT=<host and port>/api/sites/analytics

REACT_APP_STATION_API_ENDPOINT=<host and port>/api/stations
REACT_APP_STATION_ANALYTICS_API_ENDPOINT=<host and port>/api/stations/analytics

REACT_APP_TRANSACTION_API_ENDPOINT=<host and port>/api/transactions