GENERATE_SOURCEMAP=<true|false>
NGINX_PORT=<nginx_port>
VITE_AUTH_API=<auth_api_endpoint>
VITE_USER_API=<user_api_endpoint>
VITE_SITE_API=<site_api_endpoint>
VITE_STATION_API=<station_api_endpoint>
VITE_STATION_ANALYTICS_API=<station_analytics_api_endpoint>
VITE_STATION_STATUS_API=<station_status_api_endpoint>
VITE_STATION_EVENT_API=<station_event_api_endpoint>
VITE_STATION_EVENT_WS=<station_event_ws_endpoint>
VITE_STATION_PREDICTION_API=<station_prediction_api_endpoint>
VITE_STATION_ENERGY_FORECAST_API=<station_energy_forecast_api_endpoint>
VITE_STATION_WAIT_TIME_ESTIMATION_API=<station_wait_time_estimation_api_endpoint>
VITE_SECURE_LOCAL_STORAGE_PREFIX=<secure_local_storage_prefix>
VITE_SECURE_LOCAL_STORAGE_HASH_KEY=<secure_local_storage_secret>
